<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted footer-copyright text-center py-3">
      © <%= Date.current.year %> Copyright: ClareBee</span>
  </div>
</footer>
